html{
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	color: inherit;
	text-decoration: none;
}

:root{
	--color-light:  #fff;
	--color-gray:  #838383;
	--color-dark:  #1D1D1F;
	--color-good: #DFE6E6;
}

@font-face{
	font-family: 'Inter';
	src: url("../fonts/Inter-LightBETA.woff2") format('woff2');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Inter';
	src: url("../fonts/Inter-Medium.woff2") format('woff2');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face{
	font-family: 'Inter';
	src: url("../fonts/Inter-Regular.woff2") format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: 'Inter';
	src: url("../fonts/Inter-Bold.woff2") format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: 'Inter';
	src: url("../fonts/Inter-SemiBold.woff") format('woff');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

@font-face{
	font-family: "FontOver";
	src: local("Font Over"),
		url("../fonts/Font Over.otf");
	
}
@font-face{
	font-family: "Saksonia";
	src: local("Saksonia"),
		url("../fonts/Saksonia.ttf");	
}

body{
	font-family: 'Inter', sans-serif;
}
.news{
	max-width: 600px;
	margin: 20px;
	padding: 20px;
	border: solid 2px black;

}

.page_button{
	padding: 10px;
}
.page_button:hover{
	color: var(--color-dark);
	background-color: var(--color-light);
	border: 1px solid var(--color-dark);
}